
[Desktop Entry]
Name=Abstractile
Comment=Generates mosaic patterns of interlocking tiles. Written by Steve Sundstrom; 2004.
TryExec=abstractile
Exec=abstractile -root
