
[Desktop Entry]
Name=Langton's Ant
Comment=A cellular automation that is really a two-dimensional Turing machine. Written by David Bagley.
TryExec=ant
Exec=ant -root
