
[Desktop Entry]
Name=AntInspect
Comment=Draws a trio of ants moving their spheres around a circle. Written by Blair Tennessy.
TryExec=antinspect
Exec=antinspect -root
