
[Desktop Entry]
Name=Barcode
Comment=This draws a random sequence of colorful barcodes scrolling across your screen. CONSUME! By Dan Bornstein.
TryExec=barcode
Exec=barcode -root
