
[Desktop Entry]
Encoding=UTF-8
Name=BlinkBox
Comment=Shows a ball contained inside of a bounding box. Colored blocks blink in when the ball hits the edges. Written by Jeremy English.
TryExec=blinkbox
Exec=blinkbox -root
StartupNotify=false
Terminal=false
Type=Application
Categories=Screensaver
