
[Desktop Entry]
Encoding=UTF-8
Name=BlockTube
Comment=This hack draws a swirling, falling tunnel of reflective slabs. They fade from hue to hue. Written by Lars R. Damerow.
TryExec=blocktube
Exec=blocktube -root
StartupNotify=false
Terminal=false
Type=Application
Categories=Screensaver
