
[Desktop Entry]
Encoding=UTF-8
Name=Bouboule
Comment=This draws what looks like a spinning, deforming balloon with varying-sized spots painted on its invisible surface. Written by Jeremie Petit.
TryExec=bouboule
Exec=bouboule -root
StartupNotify=false
Terminal=false
Type=Application
Categories=Screensaver
