
[Desktop Entry]
Name=BouncingCow
Comment=A Cow. A Trampoline. Together, they fight crime. By Jamie Zawinski.
TryExec=bouncingcow
Exec=bouncingcow -root
