
[Desktop Entry]
Name=Braid
Exec=braid -root
TryExec=/usr/lib/xscreensaver/braid
Comment=Draws random color-cycling inter-braided concentric circles. Written by John Neil.
