
[Desktop Entry]
Name=Braid
Comment=Draws random color-cycling inter-braided concentric circles. Written by John Neil.
TryExec=braid
Exec=braid -root
