
[Desktop Entry]
Encoding=UTF-8
Name=Cage
Comment=This draws Escher's ``Impossible Cage,'' a 3d analog of a moebius strip, and rotates it in three dimensions. Written by Marcelo Vianna.
TryExec=cage
Exec=cage -root
StartupNotify=false
Terminal=false
Type=Application
Categories=Screensaver
