
[Desktop Entry]
Encoding=UTF-8
Name=Carousel
Comment=Loads several random images, and displays them flying in a circular formation. The circle changes speed and direction randomly, tilts on its axis, and the images move in and out. To tell it where to find the images to display, go to the "Advanced" tab on the Screensaver Preferences window. Select "Choose Random Images", and enter your image directory in the text field right below that. (Note: not the the "Advanced" button at the bottom of this window: the tab at the top of the *other* window.) This program requires a good video card capable of supporting large textures. Written by Jamie Zawinski.
TryExec=carousel
Exec=carousel -root
StartupNotify=false
Terminal=false
Type=Application
Categories=Screensaver
