
[Desktop Entry]
Name=C Curve
Comment=Generates self-similar linear fractals, including the classic ``C Curve.'' Written by Rick Campbell.
TryExec=ccurve
Exec=ccurve -root
