
[Desktop Entry]
Name=Circuit
Exec=circuit -root
TryExec=/usr/lib/xscreensaver/circuit
Comment=Animates a number of 3D electronic components. Written by Ben Buxton.
