
[Desktop Entry]
Encoding=UTF-8
Name=Critical
Comment=Draws a system of self-organizing lines. It starts out as random squiggles, but after a few iterations, order begins to appear. Written by Martin Pool.
TryExec=critical
Exec=critical -root
StartupNotify=false
Terminal=false
Type=Application
Categories=Screensaver
