
[Desktop Entry]
Name=Cubenetic
Comment=Draws a pulsating set of overlapping boxes with ever-chaning blobby patterns undulating across their surfaces. It's sort of a cubist Lavalite. Written by Jamie Zawinski.
TryExec=cubenetic
Exec=cubenetic -root
