
[Desktop Entry]
Name=DangerBall
Comment=Draws a ball that periodically extrudes many random spikes. Ouch! Written by Jamie Zawinski.
TryExec=dangerball
Exec=dangerball -root
