
[Desktop Entry]
Name=Distort
Comment=This hack grabs an image of the screen, and then lets a transparent lens wander around the screen, magnifying whatever is underneath. Written by Jonas Munsin.
TryExec=distort
Exec=distort -root
