
[Desktop Entry]
Name=Drift
Comment=How could one possibly describe this except as ``drifting recursive fractal cosmic flames?'' Another fine hack from the Scott Draves collection of fine hacks.
TryExec=drift
Exec=drift -root
