
[Desktop Entry]
Name=Endgame
Comment=Black slips out of three mating nets, but the fourth one holds him tight! A brilliant composition! Written by Blair Tennessy.
TryExec=endgame
Exec=endgame -root
