
[Desktop Entry]
Name=Euler2d
Comment=Simulates two dimensional Incompressible Inviscid Fluid Flow. Written by Stephen Montgomery-Smith.
TryExec=euler2d
Exec=euler2d -root
