
[Desktop Entry]
Name=FlipFlop
Comment=Flipflop draws a grid of 3D colored tiles that change positions with each other. Written by Kevin Ogden.
TryExec=flipflop
Exec=flipflop -root
