
[Desktop Entry]
Name=Flow
Comment=Strange attractors formed of flows in a 3D differential equation phase space. Written by Tim Auckland.
TryExec=flow
Exec=flow -root
