
[Desktop Entry]
Name=Forest
Comment=This draws fractal trees. Written by Peter Baumung. Everybody loves fractals, right?
TryExec=forest
Exec=forest -root
