
[Desktop Entry]
Name=FuzzyFlakes
Exec=fuzzyflakes -root
TryExec=/usr/lib/xscreensaver/fuzzyflakes
Comment=Falling colored snowflake/flower shapes. Written by Barry Dmytro.
