
[Desktop Entry]
Name=FuzzyFlakes
Comment=Falling colored snowflake/flower shapes. Written by Barry Dmytro.
TryExec=fuzzyflakes
Exec=fuzzyflakes -root
