
[Desktop Entry]
Encoding=UTF-8
Name=GFlux
Comment=Draws a rippling waves on a rotating wireframe grid, using GL. Written by Josiah Pease.
TryExec=gflux
Exec=gflux -root
StartupNotify=false
Terminal=false
Type=Application
Categories=Screensaver
