
[Desktop Entry]
Name=GFlux
Comment=Draws a rippling waves on a rotating wireframe grid, using GL. Written by Josiah Pease.
TryExec=gflux
Exec=gflux -root
