
[Desktop Entry]
Encoding=UTF-8
Name=GLBlur
Comment=This program draws a box and a few line segments, and generates a radial blur outward from it. This creates flowing field effects. This is done by rendering the scene into a small texture, then repeatedly rendering increasingly-enlarged and increasingly-transparent versions of that texture onto the frame buffer. As such, it's quite graphics intensive: don't bother trying to run this if you don't have hardware-accelerated OpenGL texture support. It will hurt your machine bad.
TryExec=glblur
Exec=glblur -root
StartupNotify=false
Terminal=false
Type=Application
Categories=Screensaver
