
[Desktop Entry]
Name=GLCells
Comment=Cells growing, dividing and dying on your screen. Written by Matthias Toussaint; 2007.
TryExec=glcells
Exec=glcells -root
