
[Desktop Entry]
Name=GLKnots
Comment=Generates some twisting 3d knot patterns. Spins 'em around. Written by Jamie Zawinski.
TryExec=glknots
Exec=glknots -root
