
[Desktop Entry]
Encoding=UTF-8
Name=GLSlideshow
Comment=Loads a random sequence of images and smoothly scans and zooms around in each, fading from pan to pan. To tell it where to find the images to display, go to the "Advanced" tab on the Screensaver Preferences window. Select "Choose Random Images", and enter your image directory in the text field right below that. (Note: not the the "Advanced" button at the bottom of this window: the tab at the top of the *other* window.) This program requires a good video card capable of supporting large textures. Written by Jamie Zawinski and Mike Oliphant.
TryExec=glslideshow
Exec=glslideshow -root
StartupNotify=false
Terminal=false
Type=Application
Categories=Screensaver
