
[Desktop Entry]
Name=GlSnake
Comment=Draws a simulation of the Rubik's Snake puzzle. Written by Jamie Wilkinson, Andrew Bennetts, and Peter Aylett.
TryExec=glsnake
Exec=glsnake -root
