
[Desktop Entry]
Name=GLText
Comment=Displays a few lines of text spinning around in a solid 3D font. Written by Jamie Zawinski.
TryExec=gltext
Exec=gltext -root
