
[Desktop Entry]
Encoding=UTF-8
Name=Greynetic
Comment=This draws random colored and stippled rectangles. Written by Jamie Zawinski.
TryExec=greynetic
Exec=greynetic -root
StartupNotify=false
Terminal=false
Type=Application
Categories=Screensaver
