
[Desktop Entry]
Name=Helix
Exec=helix -root
TryExec=/usr/lib/xscreensaver/helix
Comment=Spirally string-art-ish patterns. Written by Jamie Zawinski.
