
[Desktop Entry]
Encoding=UTF-8
Name=IFS
Comment=This one draws spinning, colliding iterated-function-system images. Note that the "quality" parameter is exponential. Number of points drawn is functions^detail. The number of colours is only used in Blend mode to provide a palette to create the base colours. These are then blended together in a non-colourmap friendly fashion. Written by Chris Le Sueur.
TryExec=ifs
Exec=ifs -root
StartupNotify=false
Terminal=false
Type=Application
Categories=Screensaver
