
[Desktop Entry]
Encoding=UTF-8
Name=Intermomentary
Comment=The Intersection Momentary is a fun visualization defining the relationships between objects with Casey Reas, William Ngan, and Robert Hodgin. Commissioned for display at the Whitney Museum of American Art. A surface filled with 100 medium to small sized circles. Each circle has a different size and direction, but moves at the same slow rate. Display: A. The instantaneous intersections of the circles. B. The aggregate intersections of the circles. Ported to XScreensaver from the art project "InterMomentary" at http://www.complexification.net
TryExec=intermomentary
Exec=intermomentary -root
StartupNotify=false
Terminal=false
Type=Application
Categories=Screensaver
