
[Desktop Entry]
Encoding=UTF-8
Name=Julia
Comment=This one draws spinning, animating (are you detecting a pattern here yet?) explorations of the Julia set. You've probably seen static images of this fractal form before, but it's a lot of fun to watch in motion as well. One interesting thing is that there is a small swinging dot passing in front of the image, which indicates the control point from which the rest of the image was generated. Written by Sean McCullough.
TryExec=julia
Exec=julia -root
StartupNotify=false
Terminal=false
Type=Application
Categories=Screensaver
