
[Desktop Entry]
Name=Klein
Comment=This draws a visualization of a Klein bottle or some other interesting parametric surfaces. Written by Andrey Mirtchovski.
TryExec=klein
Exec=klein -root
