
[Desktop Entry]
Name=Laser
Comment=Moving radiating lines, that look vaguely like scanning laser beams. Written by Pascal Pensa. (Frankie say: relax.)
TryExec=laser
Exec=laser -root
