
[Desktop Entry]
Name=Laser
Exec=/usr/lib/xscreensaver/laser -root
TryExec=/usr/lib/xscreensaver/laser
Comment=Moving radiating lines, that look vaguely like scanning laser beams. (Frankie say relax.) Written by Pascal Pensa.
