
[Desktop Entry]
Name=Lightning
Exec=/usr/lib/xscreensaver/lightning -root
TryExec=/usr/lib/xscreensaver/lightning
Comment=Crackling fractal lightning bolts. Written by Keith Romberg.
