
[Desktop Entry]
Name=Lisa
Exec=lisa -root
TryExec=/usr/lib/xscreensaver/lisa
Comment=Lissajous loops. http://en.wikipedia.org/wiki/Lissajous_curve Written by Caleb Cullen.
