
[Desktop Entry]
Name=Lissie
Comment=Another Lissajous figure. This one draws the progress of circular shapes along a path. Written by Alexander Jolk.
TryExec=lissie
Exec=lissie -root
