
[Desktop Entry]
Encoding=UTF-8
Name=Loop
Comment=This one produces loop-shaped colonies that spawn, age, and eventually die. Written by David Bagley.
TryExec=loop
Exec=loop -root
StartupNotify=false
Terminal=false
Type=Application
Categories=Screensaver
