
[Desktop Entry]
Name=MemScroller
Comment=This draws a dump of its own process memory scrolling across the screen in three windows at three different rates. Written by Jamie Zawinski.
TryExec=memscroller
Exec=memscroller -root
