
[Desktop Entry]
Name=MetaBalls
Comment=Draws two dimensional metaballs: overlapping and merging balls with fuzzy edges. By W.P. van Paassen.
TryExec=metaballs
Exec=metaballs -root
