
[Desktop Entry]
Name=MirrorBlob
Comment=Draws a wobbly blob that distorts the image behind it. Requires OpenGL hardware acceleration for nice animation. Written by Jon Dowdall.
TryExec=mirrorblob
Exec=mirrorblob -root
