
[Desktop Entry]
Name=Mismunch
Exec=mismunch -root
TryExec=/usr/lib/xscreensaver/mismunch
Comment=Munching errors! This is a creatively broken misimplementation of the classic munching squares graphics hack. See the "Munch" screen saver for the original. http://en.wikipedia.org/wiki/HAKMEM http://en.wikipedia.org/wiki/Munching_square Written by Steven Hazel.
