
[Desktop Entry]
Name=Molecule
Comment=Draws several different representations of molecules. Some common molecules are built in, and it can also read PDB (Protein Data Base) files as input. Written by Jamie Zawinski.
TryExec=molecule
Exec=molecule -root
