
[Desktop Entry]
Name=Mountain
Comment=Generates random 3d plots that look vaguely mountainous. Written by Pascal Pensa.
TryExec=mountain
Exec=mountain -root
