
[Desktop Entry]
Name=Noof
Exec=noof -root
TryExec=/usr/lib/xscreensaver/noof
Comment=Draws some rotatey patterns, using OpenGL. Written by Bill Torzewski.
