
[Desktop Entry]
Name=Pacman
Comment=Simulates a game of Pac-Man on a randomly-created level. Written by Edwin de Jong.
TryExec=pacman
Exec=pacman -root
