
[Desktop Entry]
Encoding=UTF-8
Name=Penetrate
Comment=This hack simulates the classic arcade game Missile Command. Written by Adam Miller.
TryExec=penetrate
Exec=penetrate -root
StartupNotify=false
Terminal=false
Type=Application
Categories=Screensaver
