
[Desktop Entry]
Name=Pipes
Comment=If you've ever been in the same room with a Windows NT machine, you've probably seen this GL hack. This version is by Marcelo Vianna.
TryExec=pipes
Exec=pipes -root
