
[Desktop Entry]
Name=Pipes
Exec=pipes -root
TryExec=/usr/lib/xscreensaver/pipes
Comment=A growing plumbing system, with bolts and valves. Written by Marcelo Vianna.
