
[Desktop Entry]
Name=Polyominoes
Comment=Repeatedly attempts to completely fill a rectangle with irregularly-shaped puzzle pieces. Written by Stephen Montgomery-Smith.
TryExec=polyominoes
Exec=polyominoes -root
