
[Desktop Entry]
Name=popsquares
Comment=This draws a pop-art-ish looking grid of pulsing colors. By Levi Burton.
TryExec=popsquares
Exec=popsquares -root
