
[Desktop Entry]
Name=PopSquares
Exec=/usr/lib/xscreensaver/popsquares -root
TryExec=/usr/lib/xscreensaver/popsquares
Comment=This draws a pop-art-ish looking grid of pulsing colors. Written by Levi Burton.
