
[Desktop Entry]
Name=Rotor
Comment=Another ancient xlock demo, this one by Tom Lawrence. It draws a line segment moving along a complex spiraling curve.
TryExec=rotor
Exec=rotor -root
