
[Desktop Entry]
Name=Rotor
Exec=rotor -root
TryExec=/usr/lib/xscreensaver/rotor
Comment=Draws a line segment moving along a complex spiraling curve. Written by Tom Lawrence.
