
[Desktop Entry]
Name=Sballs
Comment=Draws an animation of textured balls spinning like crazy in GL. Requires OpenGL, and a machine with fast hardware support for texture maps. Written by Eric Lassauge <lassauge@users.sourceforge.net>.
TryExec=sballs
Exec=sballs -root
