
[Desktop Entry]
Name=Sierpinski
Comment=This draws the two-dimensional variant of the recursive Sierpinski triangle fractal. Written by Desmond Daignault.
TryExec=sierpinski
Exec=sierpinski -root
