
[Desktop Entry]
Name=Sierpinski3D
Comment=This draws the three-dimensional variant of the recursive Sierpinski triangle fractal, using GL. Written by Tim Robinson and Jamie Zawinski.
TryExec=sierpinski3d
Exec=sierpinski3d -root
