
[Desktop Entry]
Name=SpeedMine
Comment=Simulates speeding down a rocky mineshaft, or a funky dancing worm. Written by Conrad Parker.
TryExec=speedmine
Exec=speedmine -root
