
[Desktop Entry]
Name=Spiral
Comment=Moving circular patterns, by Peter Schmitzberger. Moving circular patterns means moire; interference patterns, of course.
TryExec=spiral
Exec=spiral -root
