
[Desktop Entry]
Name=Spotlight
Comment=Draws a spotlight scanning across a black screen, illuminating the underlying desktop when it passes. Written by Rick Schultz.
TryExec=spotlight
Exec=spotlight -root
