
[Desktop Entry]
Name=Stairs
Comment=by Marcelo Vianna's third Escher GL hack, this one draws an ``infinite'' staircase.
TryExec=stairs
Exec=stairs -root
