
[Desktop Entry]
Name=Swirl
Exec=swirl -root
TryExec=/usr/lib/xscreensaver/swirl
Comment=Flowing, swirly patterns. Written by M. Dobie and R. Taylor.
