
[Desktop Entry]
Name=T3D
Comment=This draws a working analog clock composed of floating, throbbing bubbles. Written by Bernd Paysan.
TryExec=t3d
Exec=t3d -root
