
[Desktop Entry]
Name=Timetunnel
Comment=Draws an animation similar to the opening and closing effects on the Dr. Who television show. Written by Sean P. Brennan.
TryExec=timetunnel
Exec=timetunnel -root
