
[Desktop Entry]
Name=topBlock
Comment=Creates a 3D world with dropping blocks that build up and up. Written by rednuht; 2006.
TryExec=topblock
Exec=topblock -root
