
[Desktop Entry]
Name=Triangle
Exec=triangle -root
TryExec=/usr/lib/xscreensaver/triangle
Comment=Generates random mountain ranges using iterative subdivision of triangles. Written by Tobias Gloth.
