
[Desktop Entry]
Name=WhirlyGig
Comment=Draws zooming chains of sinusoidal spots. Written by Ashton Trey Belew.
TryExec=whirlygig
Exec=whirlygig -root
