
[Desktop Entry]
Name=Whirlygig
Exec=whirlygig -root
TryExec=/usr/lib/xscreensaver/whirlygig
Comment=Draws zooming chains of sinusoidal spots. Written by Ashton Trey Belew.
