
[Desktop Entry]
Encoding=UTF-8
Name=WhirlwindWarp
Comment=Floating stars are acted upon by a mixture of simple 2D forcefields. The strength of each forcefield changes continuously, and it is also switched on and off at random. By Paul 'Joey' Clark.
TryExec=whirlwindwarp
Exec=whirlwindwarp -root
StartupNotify=false
Terminal=false
Type=Application
Categories=Screensaver
