
[Desktop Entry]
Name=Worm
Comment=An ancient xlock hack that draws multicolored worms that crawl around the screen. Written by Brad Taylor, Dave Lemke, Boris Putanec, and Henrik Theiling.
TryExec=worm
Exec=worm -root
