
[Desktop Entry]
Name=Wormhole
Comment=Wormhole simulates flying through a colored wormhole in space. Written by Jon Rafkind.
TryExec=wormhole
Exec=wormhole -root
