
[Desktop Entry]
Name=Xflame
Comment=Draws a simulation of pulsing fire. It can also take an arbitrary image and set it on fire too. Written by Carsten Haitzler, hacked on by many others.
TryExec=xflame
Exec=xflame -root
