
[Desktop Entry]
Name=XSpiroGraph
Comment=Simulates that pen-in-nested-plastic-gears toy from your childhood. By Rohit Singh.
TryExec=xspirograph
Exec=xspirograph -root
